body {
  background: #e0dcf8;
  font-family: "Poppins", sans-serif;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
}
